
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col md-12">
                        <div class="text-center" style="margin-bottom:unset; padding: 5px; background-color: darkslateblue;">
                            <h5 style="color: whitesmoke;">Designed and Developed by Group 3</h5>
                        </div>
                    </div> 
                </div>
            </div>
        </footer>
    </body>

    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>

    <script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

</html>