<html>

<head>
    <title>Asset Registry</title>
    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename = 'css/custom.css')}}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd; padding: 15px;">
        <div class="container-fluid">
            <div class="pull-left">
                <a href="/" class="navbar-brand" style="font-size: 24px; font-weight: bold; cursor: pointer;">Asset Registry</a>
            </div>
            {% if session.get('logged_in') and session['logged_in'] %}
            <div class="pull-right">
                <ul class="nav nav-pills">
                    <li role="presentation" style="margin-left: 5px;" {% if page=="home" %} class="active" {% endif %}><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;Home</a></li>
                    <li role="presentation"  {%if session['level']!="Admin" %} style="margin-left: 5px; display: none;"{%else%} style="margin-left: 5px;"{%endif %}  {% if page=="users" %} class="active" {% endif %}><a href="/users"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;&nbsp;Users</a></li>
                    <li role="presentation" style="margin-left: 5px;" {% if page=="profile" %} class="active" {% endif %}><a href="/profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Profile</a></li>
                    <li role="presentation" style="margin-left: 5px;"><a href="/logout"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;Logout</a></li>
                  </ul>
            </div>
            {% endif %}
        </div>
    </nav>
    <div class="container">