{% include "header.html" %}

<!-- <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet"> -->

{% block body %}
<div class='row mt-5'>
    <div class='col-md-4 col-md-offset-4'>
        <h3 class='text-center'>Asset List</h3>
        <hr>
    </div>
</div>
<div >
    <form action="/" method="POST">
        <div class="form-group">
            <input type="search" class="form-control " name="searchStr" value="" placeholder="Search">
            <div class="form-group" style="margin-top: 30px;">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>

</div>
<div class="row">

    <div class="col md-12">
        {%with messages = get_flashed_messages(with_categories=true)%}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>{{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {%endwith%}
        <div style="padding-bottom: 20px;">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">+ Add
                New Asset</button>
        </div>

        <table class="table table-striped" id="data">
            <tr>
                <th class="col-sm-1">ID</th>
                <th class="col-sm-2">Name</th>
                <th class="col-sm-2">Owner</th>
                <th class="col-sm-2">Description</th>
                <th class="col-sm-2">Location</th>
                <th class="col-sm-1">Criticality</th>
                <th class="col-sm-2 text-right">Actions</th>
            </tr>
            {% for row in assets %}
            <tr>
                <td>{{row.0}}</td>
                <td>{{row.1}}</td>
                <td>{{row.2}}</td>
                <td>{{row.3}}</td>
                <td>{{row.4}}</td>
                <td>{{row.5}}</td>
                <td class="text-right">
                    <a href="/update/{{row.0}}" class="btn btn-warning btn-xs" data-toggle="modal"
                        data-target="#modaledit{{row.0}}">Edit</a>
                    <a href="/delete/{{ row.0 }}" class="btn btn-danger btn-xs"
                        onclick="return confirm('Are You Sure For Delete?')">Delete</a>
                </td>
            </tr>
            <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Update Information</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('update') }}" method="POST">
                                <div class="form-group">
                                    <label>Name:</label>
                                    <input type="hidden" name="id" value="{{row.0}}">
                                    <input type="text" class="form-control" name="name" value="{{row.1}}">
                                </div>
                                <div class="form-group">
                                    <label>Owner:</label>
                                    <input type="text" class="form-control" name="owner" value="{{row.2}}">
                                </div>
                                <div class="form-group">
                                    <label>Description:</label>
                                    <input type="text" class="form-control" name="description" value="{{row.3}}">
                                </div>
                                <div class="form-group">
                                    <label>Location:</label>
                                    <input type="text" class="form-control" name="location" value="{{row.4}}">
                                </div>
                                <div class="form-group">
                                    <label for="criticalitySelect">Criticality:</label>
                                    <select class="form-select form-control" name="criticality" id="criticalitySelect">
                                        <option value="Low" {% if row.5=='Low' %} selected {% endif %}>Low</option>
                                        <option value="Medium" {% if row.5=='Medium' %} selected {% endif %}>Medium
                                        </option>
                                        <option value="Critical" {% if row.5=='Critical' %} selected {% endif %}>
                                            Critical</option>
                                    </select>
                                </div>
                                <div class="form-group" style="margin-top: 30px;">
                                    <button class="btn btn-primary" type="submit">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

            </tbody>
        </table>
        {{ paginate.links }}
    </div>

    <!-- Modal -->

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please Insert Data</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ url_for('insert') }}" method="POST">
                        <div class="form-group">
                            <label>Name:</label>
                            <input type="text" class="form-control" name="name" value="">
                        </div>
                        <div class="form-group">
                            <label>Owner:</label>
                            <input type="text" class="form-control" name="owner" value="">
                        </div>
                        <div class="form-group">
                            <label>Description:</label>
                            <input type="text" class="form-control" name="description" value="">
                        </div>
                        <div class="form-group">
                            <label>Location:</label>
                            <input type="text" class="form-control" name="location" value="">
                        </div>
                        <div class="form-group">
                            <label for="criticalitySelect">Criticality:</label>
                            <select class="form-select form-control" name="criticality" id="criticalitySelect">
                                <option value="Low">Low</option>
                                <option value="Medium">Medium</option>
                                <option value="Critical">Critical
                                </option>
                            </select>
                        </div>
                        <div class="form-group" style="margin-top: 30px;">
                            <button class="btn btn-primary" type="submit">Add New Asset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}
<br>
<br>

{% include "footer.html" %}